#nav-font li a{
  color:white;
}

#nav-font li:hover{
  background-color:#3385ff;
  & #nav-font .active a{
    background-color:#0048b3;
  }
}

#nav-font .active a{
  background-color:#3385ff;
}

.navbar-default {
  background-color: #0048b3;
  border-radius: 2px;
  border-color: #ffdb4d;
}

.nav a {
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav .navbar-nav .navbar-right li a{
  color: #0d0d0d;
}

.nav li {
  display: inline;
}

.navbar-default .navbar-brand{
  font-size: 25px;
  padding-top: 20px;
  color:white;
}

.navbar-default .navbar-brand:hover{
  color:#ffdb4d;
}
