.navbar-default {
  background-color: rgb(153, 204, 255);
  color: black;
}

.nav a {
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.navbar-brand{
  font-size: 25px;
  padding-top: 20px;
}
