#nav-font li a{
  color:#0d0d0d;
}

#nav-font li:hover a{
  color:#4d4d4d;
}

.navbar-default {
  background-color: #66b2ff;
  border-radius: 2px;
  border-color: #737373;
}

.nav a {
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav .navbar-nav .navbar-right li a{
  color: #0d0d0d;
}

.nav li {
  display: inline;
}

.navbar-default .navbar-brand{
  font-size: 25px;
  padding-top: 20px;
  color:#0d0d0d;
}

.navbar-default .navbar-brand:hover{
  color:#4d4d4d;
}
